<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Base url for the testing / -->
    <add key="Base_URL" value="http://store.demoqa.com/products-page/your-account/" />
    <!-- Browsers: Chrome, IExplorer, Firefox -->
    <add key="Browser" value="Chrome" />
    <add key="Remote" value="false" />
    <add key="Logger" value="false" />
    <add key="Sleep" value="true" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ExternalurlAMP" value="https://amp01.roch.ny.AutoDesknet.net/" />
    <add key="ExternalurlLOLA" value="http://nctechdev1.northcentralnetworks.com/vsc" />
    <add key="ExternalurlLoopCare" value="http://tolinfwsddp01.corp.pvt/loopcare/Login.jsp" />
    <add key="ExternalurlQTC" value="https://ftrsec-ptl-uat.activationnow.com/" />
    <add key="ExternalurlRT" value="https://webrt3.ihd.AutoDesknet.net/" />
    <add key="ExternalurlViryanet" value="http://vntinfwsatz03.corp.pvt/sh/servlet/PortalLogin/" />
    <add key="ExternalurlMariner" value="https://ftwyinxvusrv001.ftrtv.net:8443/marinerxvu/ui/" />  
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>